body{
  /* background-image: url(images/colorful-background.jpeg); */
  background-color: grey;
}

h1{
  text-align: center;
  margin: 40px 0 20px 0;
  font-family: 'georgia';   
  font-weight: bold;   
  text-align: center;
  text-shadow: 1px 1px 1px white, 2px 2px 1px white;
}

p{
  text-align: center;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

.choice{
color: yellow;
text-shadow: 1px 1px 1px red, 2px 2px 1px red;
/* background-color: wheat; */
background-image: url(images/checkered.jpeg);
font-family: 'georgia';   
font-weight: bold;   
text-align: center;
justify-content: center;
border: solid whitesmoke 1px;
width: 400px;
height: 80px;
margin: auto;
letter-spacing: 2px;
line-height: 1.6;
} 

button{
  text-align: center;
}

h3{
display: flex;
justify-content: center;
font-size: x-large;
}

#message{
  text-align: center;
  font-family: fantasy;
  font-size: large;
/* font-style: oblique; */
}

#playArea{
  background-image: url(images/empty-race.jpeg);
 background-repeat: no-repeat; 
 background-position: center;
   display:none;
}

#turn{
  display:none;
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.scoreboard{
  background-image:url(images/racing-track.jpeg);
  width:150px; /*width of your image*/
  /* border: 1px solid blue; */
  /* margin: 30; */
  padding: 0;
  background-position: center;
}

.scoreboard p{
text-align: center;
}

/* .board{
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-template-columns: repeat(7,1fr);
  border: 1px solid red;
} */

ul{
  /* display: grid; */
}  

ul div{
  text-align: center;
  /* border: 1px solid black; */
margin: 5px 5px 5px 5px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.column{
  width: 50px;
  height: 350px;
  border: 1px solid blueviolet;
  align-items: center;
  justify-content: center;
}
/* .column:hover{
  background-color: aquamarine;
} */

.grid {
  /* border: 1px solid black; */
  width: 364px;
  height: 312px;
  display: flex;
  flex-direction: column;
}

.grid div{
  border: solid 1px whitesmoke;
  width: 100%;
  height: 50px;
  display: flex
}
.grid div div:hover{
  background-color: lightblue;
}

.xSquare{
  font-size: xxx-large;
  justify-content: center;
 color:white;
  background-color: black;
  border-radius: 10px;
}

.oSquare{
  font-size: xxx-large;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.sb-column{
  width: 50px;
  height: 550px;
  border: 1px solid orange;
  margin: 0px 50px 0px 15px;
  align-items: center;
}
